.advantages
   &__list
      display: flex
      flex-wrap: wrap
      margin: 0 -5px
      @include w1440-
         max-width: 1326px
         margin: 0 auto
      @include w1366-
         max-width: 1056px
      @media all and (max-width: 1075px)
         max-width: 1000px
      @include w1024-
         justify-content: space-evenly
   &__item
      max-width: 342px
      width: 100%
      box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08)
      line-height: 1.63
      margin: 0 5px 10px
      @include w1440-
         zoom: 0.94184
      @media all and (max-width: 1075px)
         zoom: 0.947
      @include w1024-
         zoom: 1
      &-head
         background-color: $substrate-grey
         display: flex
         align-items: center
         padding: 20px 20px 28px 20px
      &-icon
         border-radius: 50%
         background-color: $yellow
         max-width: 80px
         min-width: 80px
         height: 80px 
         margin-right: 20px
         display: flex
         & > svg
            margin: auto
            max-width: 60%
            max-height: 60%
      &-foot
         padding: 28px 24px