.enter
   &-link
      position: relative
      &__icon
         display: block
         width: 25.5px
         height: 30px
      & > span
         margin-left: 20px
         @include w1200-
            display: none