@import './common/_const.sass'
@import './_header.sass'
@import './_footer.sass'
@import './elements/**/*.sass'
@import './page&page-section/**/*.sass'

.title

h1
	font-size: 64px
	&.title
		&.-lg
h2
	font-size: 40px
	@include w540
		font-size: 34px
	@media all and (max-width: 480px)
		font-size: 24px
	&.title
		display: inline-block
		line-height: 1.17
	&.-index
		margin: 100px auto 50px
		text-transform: uppercase
		text-align: center
		width: 100%
		+Helvetica(bold)
		@include w540
			margin: 40px auto 20px
	&.-page
		padding: 0 20px
		margin-bottom: 30px
		@include w1200-
			padding-right: 10px
			padding-left: 10px
		@include w540-
			margin-bottom: 20px
h3
	&.title
		&.-md

b, strong
	+Helvetica(bold)


html
	font-size: 16px
	+Helvetica()
	min-width: 320px
	width: 100%
	height: auto
	overflow-x: hidden
	overflow-y: scroll
	@include w1200-
		font-size: 14px


body
	position: relative
	max-width: 1440px
	min-width: 320px
	width: 100%
	min-height: 100vh
	height: auto
	display: flex
	flex-direction: column
	line-height: 1
	margin: 0 auto
	&:not(.is-home)
		background-color: #f9f9f9
	&.is-home
		@include w540
			background-color: #f9f9f9
	&.no-scroll
		overflow: hidden
		height: 100vh

.container
	margin-left: auto
	margin-right: auto
	padding-left: 20px
	padding-right: 20px
	width: 100%
	position: relative
	@include w1200-
		padding-right: 10px
		padding-left: 10px
	&-npad
		@extend .container
		@include w540
			padding-left: 0
			padding-right: 0

main.main
	flex: 1