@import './common/_const.sass'
@import './_header.sass'
@import './_footer.sass'
@import './elements/**/*.sass'
@import './page&page-section/**/*.sass'

.title

h1
	font-size: 64px
	&.title
		&.-lg
h2
	font-size: 40px
	&.title
	&.-index
		margin: 100px auto 50px
		text-transform: uppercase
		text-align: center
	&.-page
		margin-bottom: 30px
h3
	&.title
		&.-md

b, strong
	// ----------------------------------------------


html
	font: 16px 'RobotoRegular'
	min-width: 320px
	width: 100%
	height: auto


body
	position: relative
	max-width: 1440px
	min-width: 320px
	width: 100%
	min-height: 100vh
	height: auto
	display: flex
	flex-direction: column
	line-height: 1
	margin: 0 auto
	&:not(.is-home)
		// background-color: #f9f9f9
		background-color: darkgray

.container
	margin: 0 auto
	padding: 0 20px
	width: 100%
	position: relative

main
	flex: 1