block footer
	footer.footer
		.footer__head
			.footer-info
				.footer-info__wrap
					b.footer-info__name ЮГОПТТОРГ-23
					.footer-info__desc
						b Крупнейшая оптовая база продуктов 
						span в южном федеральном округе
				.footer-social.-copy
					.footer-social__list
						-
							var socialLinks = [
								{href: '#', svg: 'vk'},
								{href: '#', svg: 'ok'},
								{href: '#', svg: 'inst'}
							]
						each item in socialLinks
							a(href= item.href).footer-social__link
								+svg-mix(item.svg)
			.footer-nav
				-
					var footerNavs = [
						{
							title: 'О компании',
							list: [
								{href: '#', title: 'О нас'},
								{href: '#', title: 'Акции'},
								{href: '#', title: 'Вакансии'},
								{href: '#', title: 'Контакты'},
								{href: '#', title: 'Карты'}
							]
						},
						{
							title: 'Покупателям',
							list: [
								{href: '#', title: 'О доставке'},
								{href: '#', title: 'Услуги'},
								{href: '#', title: 'Политика конфиденциальности'}
							]
						},
						{
							title: 'Личный кабинет',
							list: [
								{href: '#', title: 'Войти'},
								{href: '#', title: 'Зарегистрироваться'},
								{href: '#', title: 'История покупок'},
								{href: '#', title: 'Мои данные'}

						]}
					]
				each item in footerNavs
					.footer-nav__item
						strong.footer-title= item.title
						.footer-nav__item-wrap
							each link in item.list
								a(href= link.href).footer-nav__item-link= link.title
		.footer-social
			strong.footer-title Социальные сети
			.footer-social__list
				-
					var socialLinks = [
						{href: '#', svg: 'vk'},
						{href: '#', svg: 'ok'},
						{href: '#', svg: 'inst'}
					]
				each item in socialLinks
					a(href= item.href).footer-social__link
						+svg-mix(item.svg)
		.footer__foot
			a(href="").copyright Copyright ©  ООО «ЮГОПТТОРГ-23» 2015 - 2018
			.developer
				a(href="http://blaze.su/" target="_blank").developer__link
					+svg-mix('Blaze', 'developer__logo')
				span Разработка
					br
					| и продвижение