block header
	header.header
		.header__head.container
			a(href="/").logo
				img(src="assets/img/logo.png", alt="logo").logo__image
				p.logo__text
					span ЮГ
					| ОПТТОРГ-23
			.header__head-left
				-
					var headerNav = [
						{href: '', title: 'Услуги'},
						{href: '', title: 'Акции'},
						{href: '', title: 'Контакты'}
					]
				.header-nav
					each item in headerNav
						a(href=item.href).header-nav__link= item.title
				p.phone 8 (861) 
					b 205-51-32
		.header__foot
			.container
				button.header-catalog__btn
					b Каталог
				.header-search
					form.header-search__form
						input.header-search__form-input(type="text" placeholder="Введите название товара или бренд")
						i.search-icon
					.header-search__result-box
						-
							var searchResult = [
								'для суши (рапан) 25кг.',
								'Бальдо "Премиум"  25кг',
								'Осман "Премиум"  25кг',
								'1/с 25кг промасленный Щедрая Кубань',
								'1/с 25кг Агрокомплекс ТУ',
								'1/с 25кг Бальдо Прикубанский  ГОСТ',
								'1/с 25кг Брют ТУ',
								'1/с 25кг Львовский ГОСТ',
								'1/с 25кг Львовское ТУ'
							]
						each item in searchResult
							a(href="").header-search__result
								b Рис 
								= item
				.header__links
					a(href="").enter-link Войти
						+svg-mix('avatar', 'enter-link__icon')
					a(href="/basket.html").basket-link Корзина
						+svg-mix('shopping-basket', 'basket-link__icon')
						i.basket-count 50
			.header-catalog
				+close-btn('-header-catalog')
				.header-catalog__wrap
					-
						var headerCatalog = [
							{
								title: 'ТМ «Кубань Матушка»', 
								list: ['Крупы и бобовые','Хлопья, отруби, пюре','ПРЕМИУМ','Макароны','Сахар','Мука','Масло','Консервация','Семена, ядра','Молоко сухое','Пищевые ингредиенты','Чай ,чайные напитки']
							},
							{
								title: 'ТМ «Золотой Покос»', 
								list: ['Крупы и бобовые','Хлопья','Семена, ядра','Сахар']
							},
							{
								title: 'Крупы и бобовые', 
								list: ['Гречневая крупа','Рисовая крупа','Манная крупа','Пшеничная крупа','Хлопья зерновые, мюсли','Кукурузная крупа','Овсяная крупа','Перловая крупа','Пшено крупа','Ячневая крупа','Зерно для проращивания','Отруби','Крупы в варочных пакетах','Горох','Фасоль','Чечевица, маш, нут, соя']
							},
							{
								title: 'Мука', 
								list: ['Мука пшеничная','Мука кукурузная','Мука ржаная','Мука амарантовая','Мука овсяная','Мука кунжутная','Мука гороховая','Мука гречневая','Мука льняная','Мука нутовая','Мука рисовая','Мука соевая','Мука тыквенная']
							},
							{
								title: 'Сахар', 
								list: ['Сахар белый','Сахарная пудра','Сахар-рафинад']
							},
							{
								title: 'Макаронные изделия', 
								list: ['Америя (Курск)','Арутюнян ИП','Гео-Простор','Казахстан','КОС-МАИС','КУБАНЬ-МАТУШКА','Лабинск','Лапша азиатская','Лимак (Липецк)','Макос','Макфа','Петровские Нивы','Шебекинские']
							},
							{
								title: 'Масла растительные', 
								list: ['Масло для фритюра ','Масло кунжутное','Масло кукурузное ','Масло оливковое ','Масло подсолнечное ','нерафинированное ','Масло подсолнечное ','рафинированное ','Масло льняное ','Масло горчичное ','Масло рыжиковое ','Масло расторопши ','Масло тыквенное','Масло соевое','Масло сафлоровое']
							},
							{
								title: 'Консервы плодоовощные', 
								list: ['Зеленый горошек','Кукуруза консервированная ','Фасоль консервированная ','Икра овощная','Маслины, оливки','Грибы консервированные','Огурцы консервированные ','Томаты консервированные, ','ассорти ','Томатная паста','Соус, кетчуп ','Соки, напитки, сухие напитки, ','сиропы','Салаты, консервы овощные ','Консервы фруктово-ягодные, ','компот','Повидло, джем, варенье']
							},
							{
								title: 'Консервы рыбные', 
								list: ['Консервы натуральные','и с д/масла','Консервы в т/с']
							},
							{
								title: 'Консервы мясные', 
								list: ['Тушеная говядина','Тушеная свинина','Тушеное мясо птицы','Паштет']
							},
							{
								title: 'Консервы молочные', 
								list: ['Молоко сгущенное, сливки	','Молоко вареное сгущенное','Молоко питьевое','Молоко сухое, сливки']
							},
							{
								title: 'Супы, бульоны, пюре, кисели', 
								list: ['Бульон б/п, вкусовая приправа','Вермишель, лапша, супы б/п','Пюре б/п','Кисели']
							},
							{
								title: 'Пищевые ингредиенты', 
								list: ['Ванилин','Горчица, горчичный порошок, хрен','Дрожжи','Желатин','Крахмал','Сода','Соль','Уксус','Кокосовая стружка','Лимонная кислота','Приправы, специи','Сухари панировочные']
							},
							{
								title: 'Сухофрукты, ядра, орехи, семена, попкорн', 
								list: ['Изюм','Компотная смесь	','Курага	','Финики','Фрукты сушеные(цукаты)','Чернослив	','Орехи, ядра косточковых','Семена, ядра подсолнечника','Семена тыквенные','Семена льна ','Семена кунжут','Попкорн']
							},
							{
								title: 'Кондитерские изделия, мед', 
								list: ['Халва','Печенье','Козинаки','Фруктово-ягодные изделия','Вафли','Зефир','Мармелад ','Сухие завтраки (хлопья, подушечки)','Конфеты','Шоколад','Мед']
							},
							{
								title: 'Чай, чайные напитки, кофе, кофейные  напитки, какао', 
								list: ['Чай','Чайные напитки','Кофе','Кофейные напитки','Какао']
							},
							{
								title: 'Корм для животных', 
								list: []
							},
							{
								title: 'Разное', 
								list: ['Крышки','Спички']
							}
						]
					each div in headerCatalog
						.header-catalog__div
							b.header-catalog__div-name= div.title
							.header-catalog__div-list
								each link in div.list
									a(href="").header-catalog__div-link= link