.service
   display: flex
   justify-content: space-between
   height: 350px
   margin-bottom: 10px
   &__list
   &__info
      max-width: 730px
      width: 100%
      background-color: $white
      padding: 20px
   &__name
      font-size: 24px
      margin-bottom: 40px
      display: block
   &__desc
      line-height: 1.63
   &__photo
      height: 100%
      &-box
         max-width: 657px
         width: 100%