.about-company
   &__wrap
      @media all and (min-width: 1024px)
         display: flex
         align-items: flex-start
   &__photo
      min-width: 100%
      height: auto
      margin: 0 auto
      @include w1024-
         position: absolute
         top: 50%
         transform: translateY(-50%)
         width: auto
         min-height: 100%
         padding: 0
      &-box
         max-width: 700px
         width: 100%
         overflow: hidden
         position: relative
         margin-left: 20px
         @include w1024-
            max-width: 100%
            height: 280px
            margin-bottom: 20px
            margin-left: 0
   &__info
      &.-index
         padding: 0 20px
         font-size: 1rem
         margin: auto
         max-width: 565px
         width: 100%
         @media all and (max-width: 480px)
            font-size: 12px
         @include w1024-
            max-width: 100%
         @include w540
            background-color: $white
            padding: 20px
         & > p
            margin-bottom: 25px
            line-height: 1.63
            &:last-child
               margin-bottom: 0
      &:not(.-index)
         font-size: 18px
         background-color: $white
         padding: 30px 8.571428571428571vw 30px 20px
         & > p
            line-height: 1.53
            margin-bottom: 30px
         & > b
            margin-bottom: 30px
            font-size: 24px
            display: block
   &__slider
      height: 39.285714285714285vw
      margin-bottom: 10px
      border: 1px solid red
      position: relative
      & > .slider__control-btn
         top: 50%
         opacity: 0.55
         &.-prev
            transform: translate(-50%, -50%)
         &.-next
            transform: translate(50%, -50%)
      &-wrap
         display: flex
         overflow: hidden
         height: inherit
      &-container
         height: inherit
         display: flex
      &-item
         max-width: 1400px
         width: 100%
         height: 100%