extends ../_template

block variables

block content
   +breadcrumbs('Главная', 'О компании')
   h2.title.-page О компании
   .about-company__wrap.container
      .about-company__slider
         .about-company__slider-wrap
            .about-company__slider-container
               img(src="assets/img/about-company.jpg", alt="").about-company__slider-item
               img(src="assets/img/about-company.jpg", alt="").about-company__slider-item
            +content-control()
         button.slider__control-btn.-prev
         button.slider__control-btn.-next
      .about-company__info
         b ЮГОПТТОРГ-23
         p «Югоптторг-23» - одна из лидирующих компаний на Юге России с 1998 г. Основным видом деятельности, которой является фасовка под собственной ТМ «Кубань-Матушка» и  «Золотой Покос» и оптово-розничная продажа бакалейных товаров.
         p "Югоптторг-23" награжден дипломом победителя краевого конкурса "Лучшее предприятие оптовой торговли Кубани 2011" в номинации "Продовольственные товары".
            br
            | В 2015 году компания награждена дипломом победителя конкурса "Лучшее предприятие оптовой торговли Краснодарского края 2015" в номинации "Лучший поставщик бакалейной продукции".
            br
            | В 2016 году "Югоптторг-23" награжден свидетельством «О занесении на доску почета Карасунского внутригородского округа города Краснодара»
         p Наша компания следит за развитием рынка и работает только с качественными продуктами, востребованными рынком.
            br
            | Каждый заказчик может быть уверен в том, что любой вопрос будет решён специалистами быстро, профессионально и с максимальным комфортом для него.