extends ../_template

block variables

block content
   +breadcrumbs('Главная', 'Каталог', 'Крупы и бобовые')
   h2.title.-page Каталог
   .catalog__grid.container-npad
      .catalog__grid-wrap
         .catalog__grid-head
            ul.catalog-filter__tag-list
               -
                  var tags = [
                     'Гречневая крупа',
                     'Рисовая крупа',
                     'Манная крупа',
                     'Пшеничная крупа',
                     'Хлопья зерновые, мюсли',
                     'Кукурузная крупа',
                     'Овсяная крупа',
                     'Перловая крупа',
                     'Пшено крупа',
                     'Ячневая крупа',
                     'Зерно для проращивания',
                     'Крупы фасованные',
                     'Отруби',
                     'Крупы в варочных пакетах',
                     'Горох',
                     'Фасоль',
                     'Чечевица, маш, нут, соя'
                  ]
               each item in tags
                  li.catalog-filter__tag= item
            .catalog-controls__wrap
               .catalog-controls
                  .catalog-controls__item.-down
                     a(href="").catalog-controls__item-name По цене
                  .catalog-controls__item.-up
                     a(href="").catalog-controls__item-name По новизне
                  .catalog-controls__item
                     .catalog-controls__item-group
                        input(type="checkbox" id="qwerty" name="" value="qwerty")
                        //- make for == id, id == value
                        //- id mast be unique
                        label(for="qwerty").catalog-controls__item-name Товары по акциям
               .catalog-controls.-mobile
                  .catalog-controls__sort-wrap
                     button.catalog-controls__sort-btn Сортировать по
                     .catalog-controls__sort
                        a(href="").catalog-controls__sort-option По цене ↑
                        a(href="").catalog-controls__sort-option По цене ↓
                        a(href="").catalog-controls__sort-option По новизне
                  button.catalog-controls__filter-btn Фильтр
         .catalog__grid-aside
            .filter__head
               | Фильтр
               button.close.-filter
            form(action="").filter__list
               .filter__item
                  .filter__item-head
                     p.filter__item-name Цена за упаковку, ₽
                  .filter__item-body.-input
                     input(type="text" value='20').filter__input
                     input(type="text" value='10 000').filter__input
               .filter__item
                  .filter__item-head
                     p.filter__item-name Вес одного изделия, кг
                  .filter__item-body.-range
                     .filter__input-group
                        input(type="text" value='0.5').filter__input
                        input(type="text" value='5').filter__input
                     .filter__range
               -
                  var filters = [
                     {
                        name: 'Продукция по Гост, ТУ',
                        options: ['ГОСТ', 'ТУ'],
                        col: '-col-2'},
                     {
                        name: 'Вид продукта',
                        options: ['Крупа гречневая', 'Рис', 'Фасоль', 'Пшено', 'Мюсли']
                     },
                     {
                        name: 'Вид упаковки',
                        options: ['Вид упаковки', 'Картон', 'Пакет']
                     },
                     {
                        name: 'Торговая марка',
                        options: ['Кубань матушка', 'Золотой Покос', 'Щедрая Кубань', 'Агрокомплекс', 'Санниково', 'Фролово']
                     },
                     {
                        name: 'Страна производитель',
                        options: ['Россия', 'Армения', 'Беларусь', 'Китай']
                     }
                  ]
               each item, key1 in filters
                  .filter__item
                     .filter__item-head
                        p.filter__item-name= item.name
                     - var addClass = ''
                     - if (item.col) addClass = ''+item.col
                     - else addClass = ''
                     .filter__item-body.-check(class=addClass)
                        each option, key2 in item.options
                           .filter__item-group
                              input(type="checkbox" id="value"+key1+key2+"" value="value"+key1+key2+"").filter__checkbox
                              //- make for == id, id == value
                              //- id mast be unique
                              label(for="value"+key1+key2+"").filter__option= option
               .filter__item.-share
                  .filter__item-body.-check
                     .filter__item-group
                        input(type="checkbox" id="mobile-share" value="mobile-share").filter__checkbox
                        label(for="mobile-share").filter__option Товарвы по акциям
               .filter__item
                  p.filter__result Найдено 300  товаров
                  .filter__controls
                     button.filter__btn.-submit Применить
                     button.filter__btn.-reset Сбросить фильтр
         .catalog__grid-main
            -
               var products = [
                  {src: 'assets/img/products/1.jpg', name: 'Гречневая крупа "Элитная" в/с 800гр/16пач. "Кубань-Матушка"', price: {q: 25, w: 24, e: 421, r: 96}},
                  {src: 'assets/img/products/2.jpg', name: 'Кукурузная крупа № 4 800гр/16пач. "Кубань-Матушка"', price: {q: 21, w: 77, e: 314, r: 45}},
                  {src: 'assets/img/products/3.jpg', name: 'Рис Бурый шелушеный крупа 800гр/16пач. "Кубань-Матушка"', price: {q: 34, w: 17, e: 546, r: 72}},
                  {src: 'assets/img/products/4.jpg', name: 'Чечевица КРАСНАЯ 800гр/16пач. "Кубань-Матушка"', price: {q: 60, w: 49, e: 967, r: 84}},
                  {src: 'assets/img/products/5.jpg', name: 'Горох колотый шлифованный ЗЕЛЕНЫЙ 1/с  800гр/16пач. "Кубань-Матушка"	', price: {q: 21, w: 02, e: 336, r: 32}},
                  {src: 'assets/img/products/6.jpg', name: 'Пример карточки с длинным названием продукции которая непомещается в 3 стоки и бо', price: {q: 1000, w: 73, e: 10000, r: 78}},
                  {src: 'assets/img/products/7.jpg', name: 'Чечевица 8пач./800гр. "Кубань-Матушка"', price: {q: 40, w: '09', e: 320, r: 72}},
                  {src: 'assets/img/products/8.jpg', name: 'Ячневая крупа №3 800гр/16пач. "Кубань-Матушка"', price: {q: 16, w: 73, e: 267, r: 78}}
               ]
            .catalog-listing
               each item in products
                  +product(item.src, item.name, item.price.q, item.price.w, item.price.e, item.price.r)
            .catalog-listing__banner
               img(src="assets/img/listing-banner.jpg", alt="")
            .catalog-listing
               each item in products
                  +product(item.src, item.name, item.price.q, item.price.w, item.price.e, item.price.r)
         .catalog__grid-foot
            button.more-product-btn
               span Показать еще
            +pagination()
      .catalog__description
         p.
            Особенности и преимущества бакалейной группы продуктов перед другими. Основная особенность бакалейных продуктов – возможность хранить их 
            без холодильника. Однако многое в бакалее все равно долго не лежит. Например, в крупах нередко заводится пищевая моль и другие мелкие 
            насекомые-паразиты.
         p.
            Еще одна особенность бакалеи – ее нужно хранить подальше от влаги. Влага накапливается в открытых продуктах, от этого они быстро портятся. 
            Это же касается добавления сыпучих продуктов в емкости – нужно следить, чтобы внутри баночки были сухими.
   .quick-view
      .quick-view__wrap
         +close-btn('-quick-view')
         .quick-view__wrap-inner
            +product-info('-view')