extends ../_template

block variables

block content
   +breadcrumbs('Главная', 'Каталог', 'Крупы', 'Крупа гречневая', 'Гречневая крупа "Элитная" 1/с  900гр/8пач. "Кубань-Матушка"')
   .container-npad
      .product-card
         +product-info('-card')
   +slider('Вы смотрели')