extends ../_template

block variables

block content
   +breadcrumbs('Главная', 'Услуги')
   h2.title.-page Услуги
   .service__list.container-npad
      .service
         .service__info
            b.service__name Фасовка
            p.service__desc.
               Продукция нашего цеха фасовки выпускается под торговой маркой "Кубань-Матушка" 
               и "Золотой Покос". Наша продукция упаковывается в полипропиленовый прозрачный 
               пакет, что позволяет увидеть и оценить качество продукции. Далее упаковывается 
               в гофрокороб и запаллечивается на поддоне, что обеспечивает сохранность продуктов
               при механизированной погрузке и дальнейшей  транспортировке и хранении.
         .service__photo-box
            img(src="assets/img/services/1.jpg", alt="").service__photo
      .service
         .service__info
            b.service__name Доставка
            p.service__desc.
               Торговый процесс и хранение товара организованы на территории собственной базы 
               с удобным авто и ж/д подъездом, в современных и хорошо оснащенных складских 
               помещениях. Наши специалисты помогут Вам определиться с выбором ассортимента, 
               оформят полный пакет товаросопроводительных документов, а также произведут 
               оперативную механизированную погрузку. Гибкий подход к каждому клиенту 
               и строгое соблюдение обязательств - приоритеты нашей компании.​​ 
         .service__photo-box
            img(src="assets/img/services/2.jpg", alt="").service__photo