extends ../_template

block variables

block content
   +breadcrumbs('Главная', 'Акции', 'Томатная паста')
   h2.title.-page Томатная паста
   .container
      .share
         .share__image-box
            img(src="assets/img/shares/1.jpg", alt="").share__image
         .share__content
            b.share__name Томатная паста
            .share__desc
               p При покупке одной упаковки томатной пасты «ПАЯ» 400гр/12бан получи одну банку в подарок.