extends ../_template

block variables

block content
   +breadcrumbs('Главная', 'Вакансии', 'Бухгалтер')
   h2.title.-page Бухгалтер
   .vacancy
      p Требуемый опыт работы: 1–3 года
      br
      p Частичная занятость, гибкий график
      br
      p Должностные обязанности:
      br
      p ведение бухгалтерского учета материалов и готовой продукции в общепите, 
         br
         | проведение контрольных инвентаризаций 1 раз в месяц.
         br
         | ведение бухгалтерского учета расчетов с поставщиками, касса и банк.
         br
         | ведение бухгалтерского учета расчетов по оплате труда.
         br
         | сдача отчетности через Контур.
      p Условия:
      br
      p Работа с частичной занятостью. Индивидуальный график обсуждается на собеседование.
      br
      p Требование:
      br
      p Знание бухгалтерского учета, налогового учета начисление и удержаний с заработной платы и ЕНВД.
      br
      p Знание программ 1С Бухгалтерия, 1С Зарплата и кадры версия 3.
      br
      p Ведение малого предприятия ООО в общепите, с маленькой численностью.
      br
      br
      br
      .vacancy__details
         | Все подробности вы можете узнать по телефону
         p.phone 8 (861) 
            b 236-08-55