.vacancies
   &__list
   &__item
      padding: 42px 60px 42px 30px
      background-color: $white
      margin-bottom: 2px
      display: flex
      align-items: center
      font-size: 1.125rem
      &-name
         font-size: 24px
         max-width: 260px
         width: 100%
         margin-right: 45px
      &-demands
         max-width: 772px
         width: 100%
         line-height: 1.2
         margin-right: 45px
      &-more
         text-align: right
         flex: 1
      &-link
         text-decoration: underline